@import "../fonts";
@import "../mixins/button-mixin";
@import "../mixins/description-block-mixins";
@import "../mixins/rectangle-image-mixin";

.about-us{
    display: flex;
    justify-content: center;
    @include rect-img-mixin(680px, 711.2px, 2040px);
    &__description-block{
        max-width: 550px;
        margin-left: 130px;
    }
    &__pre-header{
        @include pre-header;
    }
    &__header{
        @include header(500, 48px, 57px);
        margin: 15px 0 30px 0;
    }
    &__text{
        @include text;
        padding-right: 15px;
    }
    &__button{
        margin-top: 70px;
        @include btn-mixin(16px);
    }

    &__img{
        margin-left: 40px;
    }
}