@import "../mixins/description-block-mixins";
@import "../mixins/rectangle-image-mixin";
@import "../mixins/button-mixin";

.latest-news{
    display: flex;
    flex-direction: column;
    align-items: center; 
    &__header-section{
        margin: 100px 0;
        text-align: center
    }
    &__pre-header{
        @include pre-header;
        margin-bottom: 30px;
    }
    &__header{
        @include header(400, 48px, 28px)
    }
    &__cards{
        display: flex;
        justify-content: center;
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__description{
        margin: 60px 0;
    }
    &__title{
        @include header(600, 30px, 28px);
        margin-bottom: 20px;
    }
    &__text{
        @include text;
        max-width: 610px;
    }
    &__button{
        @include btn-mixin(18px);
        max-width: 300px;
    }
    &__space{
        height: 100%;
        width: 100px;
    }
}
.latest-news1{
    @include rect-img-mixin(555px, 390px, 5640px);
}
.latest-news2{
    @include rect-img-mixin(555px, 390px, 5640px);
}